* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #777;
  height: 100vh;

  background-image: url(./images//cool-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
