.FormSubmitPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.FormContainer {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
