@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans|Open+Sans&display=swap");

.FormSubmitPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.FormContainer {
  margin: 20px;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.formParagraph {
  font-family: "Open Sans", sans-serif;
  color: #212f3d;
  display: flex;
}
.formTitle {
  font-family: "Odibee Sans", cursive;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.formButtons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
