@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 10px;
  margin-top: 10vh;
  height: 80vh;
  width: 45vw;
  min-width: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
}

.generatedForm {
  background-color: #d5d8dc;
  grid-row: 2/8;
  grid-column: 2/-2;
  overflow-y: scroll;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #abb2b9;
  -webkit-box-shadow: 1px 0px 28px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 28px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 28px -6px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.AddFieldButton {
  grid-row: 1/2;
  grid-column: 3/6;
  height: 30px;
  align-self: end;
}

.AddTitleButton {
  grid-row: 1/2;
  grid-column: 6/7;
  height: 30px;
  align-self: end;
}
.SaveFormButton {
  grid-row: 8/9;
  grid-column: 4/7;
  height: 50px;
}
.CancelButton {
  grid-row: 8/9;
  grid-column: 3/4;
  height: 50px;
  font-family: "Trade Winds";
}
.addedField {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 30px;
  font-family: "Trade Winds";
}
